<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
<div class="container">

    <div class="welcome">
        <h1>Welcome!!!</h1>
        <h2>You can now connect and chat with friends</h2>
        <div class="outer">

            <input type="button" class="btn btn-primary" value="Login" ui-sref="login">
            <input type="button" class="btn btn-primary" value="Sign up!" ui-sref="signup">

        </div>
    </div>

    <div class="bg-img"></div>

</div>

</body>

</html>