<!DOCTYPE html>
<html ng-app="SocialMedia">
  <head>
    <title>Social Network</title>


      <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />

      <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
      <!--script data-require="angular-route@*" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular-route.js"></script-->
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.0/angular-sanitize.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/javascripts/app.js"></script>
       <script src="/javascripts/sockerService.js"></script>
      <script src="/javascripts/homeCtrl.js"></script>
      <script src="/javascripts/signupCtrl.js"></script>
      <script src="/javascripts/loginCtrl.js"></script>
      <script src="/javascripts/welcomeCtrl.js"></script>
      <script src="/javascripts/mainCtrl.js"></script>
     
  </head>
  <body>
  <div class="container">
      <h1></h1>
      <div ui-view>

      </div>
  </div>

  </body>
</html>
