/* Styles go here */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.bg-img {
  display: block;
  height: 250px;
  background: url("https://assets.audiomack.com/thaproducesectioncom/ffc1027947e34003611643d1f7c480db.jpeg") center center no-repeat;
  position: fixed;
  width: 100%;
  background-size: cover;
  position: relative;
}

.welcome {
  display: block;
  text-align: center;
  height: 250px;
  color: white;
}

.outer .btn-primary {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.outer {
  margin-left: 38%;
}

.form-horizontal .spl-group {
  width: 49%;
  display: inline-block;
}
.form-horizontal .control-label {
  text-align: left;
  margin-left: 20px;
  margin-right: 0px;
  font-size: 14px;
}

.form-horizontal input {
  margin-left: 0px;

}

.panel {
  margin-top: 50px;
}

.panel-primary>.panel-heading {
  font-size: 20px;
}

input.ng-invalid {
  border: 1px solid red;
}

input:focus.ng-invalid {
  border: 1px solid red;
}

input.ng-pristine  {
  border: 1px solid blue;
}




