/* Styles go here */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.bg-img {
  display: block;
  height: 250px;
  background: url("https://assets.audiomack.com/thaproducesectioncom/ffc1027947e34003611643d1f7c480db.jpeg") center center no-repeat;
  position: fixed;
  width: 100%;
  background-size: cover;
  position: relative;
}

.welcome {
  display: block;
  text-align: center;
  height: 250px;
  color: white;
}

.outer .btn-primary {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.outer {
  margin-left: 38%;
}

.form-horizontal .spl-group {
  width: 49%;
  display: inline-block;
}
.form-horizontal .control-label {
  text-align: left;
  margin-left: 20px;
  margin-right: 0px;
  font-size: 14px;
}

.form-horizontal input {
  margin-left: 0px;

}

.panel {
  margin-top: 50px;
}

.panel-primary>.panel-heading {
  font-size: 20px;
}

input.ng-invalid {
  border: 1px solid red;
}

input:focus.ng-invalid {
  border: 1px solid red;
}

input.ng-pristine  {
  border: 1px solid blue;
}


            .popup-box
            {
                
                position: fixed;
               
                right: 220px;
                height: 285px;
                background-color: rgb(237, 239, 244);
                width: 300px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .popup-box .popup-head
            {
                background-color: #6d84b4;
                padding: 20px;
                color: white;
                font-weight: bold;
                font-size: 14px;
                clear: both;
            }
            
            .popup-box .popup-head .popup-head-left
            {
                float: left;
            }
            
            .popup-box .popup-head .popup-head-right
            {
                float: right;
                opacity: 0.5;
            }
            
            .popup-box .popup-head .popup-head-right a
            {
                text-decoration: none;
                color: inherit;
            }
            
            .popup-box .popup-messages
            {
                height: 80%;
                overflow-y: scroll;
            }


.eachuser {

  width: 300px;
  height: 30px;
  background-color: white;
  border-color: #2e6da4;
  font-size: 14px;
  border: 1px solid black;
   border-radius: 5px;
   color: black;
   text-align: center;

}
.eachuser:hover {

  background-color: #6d84b4;
  }
ul {
  list-style: none;
  color: white;
}



